{% extends 'base.html' %}

{% block content %}

    <div ng-controller="ShotCtrl">

        {% verbatim %}

        <div class="ui secondary pointing menu" ng-hide="shouldHideShots">
            <a class="item active nav-item" icon="dribbble" text="{{ tabs.popular }}"></a>
            <a class="item nav-item" icon="star" text="{{ tabs.favorites }}"></a>
            <div class="right menu nav-pagination" pagination></div>
        </div>

        <div id="{{ tabs.popular }}" class="ui four doubling cards tab-content" ng-hide="shouldHideShots">
            <div class="card" ng-repeat="item in shots">
                <a class="image" ng-click="showDetail(item)">
                    <img ng-attr-src="{{ item.images.normal }}" alt="Photo">
                </a>
                <div class="content">
                    <div class="header">{{ item.title | limitTo : 30 }}</div>
                    <div class="meta">
                        <a class="group">{{ item.created_at | date : 'dd/MM/yyyy' }}</a>
                    </div>
                    <div class="shot mini description">
                        {{ item.description | limitTextWidth }}
                    </div>
                </div>
                <div class="extra content">
                    <a class="shot info">
                        <i class="unhide icon"></i>{{ item.views_count }}
                    </a>
                    <a class="shot info">
                        <i class="comment icon"></i>{{ item.comments_count }}
                    </a>
                    <a class="shot info">
                        <i class="heart icon"></i>{{ item.likes_count }}
                    </a>
                </div>
                <div class="ui bottom attached button">
                    <i class="add icon"></i>
                    Add to favorites
                </div>
            </div>

        </div>

        <div id="{{ tabs.favorites }}" class="ui four doubling cards tab-content hide" ng-hide="shouldHideShots">
        teste
        </div>

        {% endverbatim %}

        {% include 'shot_detail.html' %}

    </div>

    

{% endblock %}